- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h4.leader Makers Academy
      %h1 Skeleton
      %p.margin-bottom This is sample content for a skeleton index page. Feel free to edit content and deploy when ready.

%section
  .container
    .centered-row
      %h4.leader Optional Leader
      %h2 Required Header
      %h4.subheader Optional Subheader
      %p 
        Optional Text. Images are also optional, and must be sized 600x600 pixels (@2x), and 300x300 pixels (regular).
        = lorem.sentences(2)
    .five-width-row
      .column
        = image_tag "icons/icon-cash.jpg", class: "image--medium"
        %h4 Optional Title
        .button-row
          %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"
      .column
        = image_tag "icons/icon-credit-card.jpg", class: "image--medium"
        %h4 Optional Title
        .button-row
          %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"
      .column
        = image_tag "payment-options/transferwise.jpg", class: "image--medium"
        %h4 Optional Title
        .button-row
          %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"
      .column
        = image_tag "payment-options/gocardless.jpg", class: "image--medium"
        %h4 Optional Title
        .button-row
          %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"
      .column
        = image_tag "payment-options/paypal.jpg", class: "image--medium"
        %h4 Optional Title
        .button-row
          %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"

%section.hero{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h4.leader Meet
      %h2 Our hiring partners
      %p We’ve graduated over #{stats.number_of_graduates} beginners into their dream jobs as junior developers. Some were looking for a career change, others to bring their ideas to life.
    .three-width-row
      .column
        .image--centered
          = image_tag "hiring-partners/Atos.png"
        .image--centered
          = image_tag "hiring-partners/compare-the-market.png"
      .column
        = link_to "Learn about Partners", "/employers.html", class: "button button--horizontal"
      .column
        = image_tag "hiring-partners/Deloitte-Digital.png"
        = image_tag "hiring-partners/just-giving.png"

%section.half-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h4.leader Leader
          %h2 Header
          %p= lorem.sentences(4)
          .button-row.shift-to-bottom
            %p
              = link_to "Call to Action", "#", class: "button button--horizontal"
      .column
        .slider.lazy-slider
          .slider-content
            %figure.with-caption
              .image--centered
                %img{'data-lazy' => image_path("graduates/nicole.jpg")}
              %figcaption
                %p= "Nicole Pellicena"
                %p Marketing Manager to Junior Developer at Deloitte Digital
                %p= "Graduated December 2014"
          .slider-content
            %figure.with-caption
              .image--centered
                %img{'data-lazy' => image_path("graduates/ruth.jpg")}
              %figcaption
                %p= "Ruth Earle"
                %p Full-time Mum to Junior Developer at Mergermarket
                %p= "Graduated October 2014"


= partial :"primary_call_to_action"

%section.backgrounded
  .container
    .centered-row
      %h4.leader Start Coding
      %h2 right now!
      %p.lead Sign up for our newsletter and get your free eBook: Learn Ruby in 15 minutes.
    = partial :"email-capture"

/ Analytics event for visiting homepage
:javascript
  analytics.track('Viewed homepage');
